* {
  padding: 0;
  margin: 10;
}

body {
  background: linear-gradient(-45deg, grey, lightgrey, #23a6d5, grey);
  background-size: 400% 400%;
  height: 100vh;
  color: blueviolet;
  padding: 100px;
  font-family: Calibri;
  text-align: center;
}

nav {
  border-radius: 25px;
  margin: auto;
  display: flex; /* 1 */
  justify-content: space-between; /* 2 */
  padding: 1rem 2rem; /* 3 */
  background-color: rgb(235, 195, 64);
}

nav ul {
  display: flex; /* 5 */
  list-style: none; /* 6 */
}

nav li {
  padding-left: 1rem; /* 7! */
}

#clock {
  font-size: 50px;
}

#submit {
  font-size: 25px;
  color: blueviolet;
  font-family: Calibri;
  background-color: rgb(235, 195, 64);
  border-radius: 20px;
  margin: 20px;
}

#submit:hover {
  background-color: rgb(235, 150, 64);
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

Button {
  font-family: Calibri;
}
